<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="ShowWhatProcessLocksFile"
           Language="1033"
           Version="$(var.InstallerVersion)"
           Manufacturer="PolarGoose"
           UpgradeCode="ecbb21bf-5b26-4971-aac2-d3528a7f10fb"
           InstallerVersion="200"
           Scope="perUser">
    <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>
    <MediaTemplate EmbedCab="yes"/>
    <Feature Id="ProductFeature" Title="ShowWhatProcessLocksFile" Level="1">
      <ComponentGroupRef Id="ProductComponents"/>
    </Feature>
  </Package>
  <Fragment>
    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="ProgramsFolder" Name="Programs">
        <Directory Id="INSTALLFOLDER" Name="ShowWhatProcessLocksFile"/>
      </Directory>
    </StandardDirectory>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent" Guid="18A44A77-A0C6-4CE7-9CE5-88ECBEF62B14">
        <File Id="id1" Source="$(var.ShowWhatProcessLocksFile.TargetDir)\ShowWhatProcessLocksFile.exe"/>
        <File Id="id2" Source="$(var.ShowWhatProcessLocksFile.TargetDir)\ShowWhatProcessLocksFile.exe.config"/>
        <File Id="id3" Source="$(var.ShowWhatProcessLocksFile.ProjectDir)\Icon\icon.ico"/>

        <!-- Shared lock-finding engine: both the GUI and the CLI load Core.dll from here. -->
        <File Id="coreDll" Source="$(var.ShowWhatProcessLocksFile.TargetDir)\Core.dll"/>

        <!-- Headless CLI (`whatlocks`) for command-line and scripted use. -->
        <File Id="whatlocksExe" Source="$(var.Cli.TargetDir)\whatlocks.exe"/>
        <File Id="whatlocksConfig" Source="$(var.Cli.TargetDir)\whatlocks.exe.config"/>

        <!-- Put the install dir on the user PATH so `whatlocks` resolves by bare name
             from any shell. Removed on uninstall. -->
        <Environment Id="WhatlocksPath" Name="PATH" Value="[INSTALLFOLDER]" Action="set" Part="last" System="no" Permanent="no"/>

        <!-- https://stackoverflow.com/a/29769228/7585517 -->
        <RegistryKey Root="HKCU" Key="Software\Classes\*\shell\ShowWhatProcessLocksFile">
          <RegistryValue Type="string" Value="Show what locks this file"/>
          <RegistryValue Type="string" Name="Icon" Value="&quot;[INSTALLFOLDER]icon.ico&quot;"/>
          <RegistryKey Key="command">
            <RegistryValue Type="string" Value="&quot;[INSTALLFOLDER]ShowWhatProcessLocksFile.exe&quot; &quot;%1&quot;"/>
          </RegistryKey>
        </RegistryKey>

        <RegistryKey Root="HKCU" Key="Software\Classes\Directory\shell\ShowWhatProcessLocksFile">
          <RegistryValue Type="string" Value="Show what locks this folder"/>
          <RegistryValue Type="string" Name="Icon" Value="&quot;[INSTALLFOLDER]icon.ico&quot;"/>
          <RegistryKey Key="command">
            <RegistryValue Type="string" Value="&quot;[INSTALLFOLDER]ShowWhatProcessLocksFile.exe&quot; &quot;%1&quot;"/>
          </RegistryKey>
        </RegistryKey>

        <RegistryKey Root="HKCU" Key="Software\Classes\Drive\shell\ShowWhatProcessLocksFile">
          <RegistryValue Type="string" Value="Show what locks this drive"/>
          <RegistryValue Type="string" Name="Icon" Value="&quot;[INSTALLFOLDER]icon.ico&quot;"/>
          <RegistryKey Key="command">
            <RegistryValue Type="string" Value="&quot;[INSTALLFOLDER]ShowWhatProcessLocksFile.exe&quot; %1"/>
          </RegistryKey>
        </RegistryKey>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
